#navigasi{
    padding-top: 7px;
}

#header2{
    padding-top: 6px;
    padding-bottom: 20px;
}

#konten1{
    padding-bottom: 60px;
}

#pemesanan{
    padding-bottom: 40px;
}

#penjual{
    padding-bottom: 40px;
}

#footer{
    position: -ms-page;
}


